// Colors

$white: #ffffff;
$black: #000000;

$cookie-consent-text: #ffffff;
$cookie-consent-text-bg: #000000;
$cookie-consent-button: #050c16;
$cookie-consent-button-bg: #ffffff;

// Fonts

$font-base: 'Futura PT', sans-serif;
